[graph]
all-features = true

[advisories]

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "Unicode-3.0",
  "ISC",
  "BSD-2-Clause",
  "BSD-3-Clause",
]

[bans]
multiple-versions = "warn"

[sources]
allow-git = []
